a {
  text-decoration: none;
  font-style: normal;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

h1,
h2,
h3,
p {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

.body {
  font-family: "Open Sans", sans-serif;
}

.container {
  margin-right: auto;
  margin-left: auto;
  outline: solid crimson;
  max-width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
}
@media screen and (min-width: 448px) {
  .container {
    width: 448px;
  }
}
@media screen and (min-width: 720px) {
  .container {
    width: 720px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.header {
  padding-top: 40px;
  position: absolute;
  width: 100%;
}
.header__wrap {
  display: flex;
  justify-content: space-between;
}
.header__nav {
  display: none;
}
@media screen and (min-width: 720px) {
  .header__nav {
    display: block;
  }
}
.header__list {
  display: flex;
  gap: 16px;
}
@media screen and (min-width: 1200px) {
  .header__list {
    gap: 30px;
  }
}
.header__link {
  color: #FFF;
  font-family: "Open Sans";
  font-size: 12px;
  font-weight: 600;
  line-height: 1.5;
  letter-spacing: 1.2px;
}
.header__link:hover, .header__link:focus {
  color: #FF6C00;
}
.header__items {
  display: none;
}
@media screen and (min-width: 720px) {
  .header__items {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: end;
  }
}
@media screen and (min-width: 1200px) {
  .header__items {
    gap: 40px;
    flex-direction: row;
  }
}
@media screen and (min-width: 1200px) {
  .header__element:first-child {
    order: 1;
  }
}
.header__contact {
  color: #FFF;
  font-family: "Open Sans";
  font-size: 12px;
  font-weight: 600;
  line-height: 1.5;
  letter-spacing: 1.08px;
  text-transform: uppercase;
}
.header__box {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media screen and (min-width: 720px) {
  .header__box {
    display: none;
  }
}
.header__logo {
  width: 68.93px;
  height: 55.46px;
}
.header__btn {
  width: 40px;
  height: 40px;
  background-color: transparent;
  border: none;
}

.active {
  border-radius: 25px;
  width: 160px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #FF6C00;
}

.hero {
  padding-top: 208px;
  padding-bottom: 209px;
  display: flex;
  justify-content: flex-start;
  background-image: linear-gradient(rgba(25, 28, 38, 0.2), rgba(25, 28, 38, 0.2)), url(../img/mobile/beard-mobile@1x.webp);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 448px;
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../img/mobile/beard-mobile@2x.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
}
@media screen and (min-width: 720px) {
  .hero {
    padding-top: 272px;
    padding-bottom: 40px;
    background-size: 720px;
    background-image: linear-gradient(rgba(25, 28, 38, 0.2), rgba(25, 28, 38, 0.2)), url(../img/tablet/beard-tablet@1x.webp);
  }
}
@media screen and (min-width: 720px) and (min-device-pixel-ratio: 2), screen and (min-width: 720px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 720px) and (min-resolution: 192dpi), screen and (min-width: 720px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../img/tablet/beard-tablet@2x.webp);
  }
}
@media screen and (min-width: 1200px) {
  .hero {
    background-size: 1200px;
    background-image: linear-gradient(rgba(25, 28, 38, 0.2), rgba(25, 28, 38, 0.2)), url(../img/destop/beard-destop@1x.webp);
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../img/destop/beard-destop@2x.webp);
  }
}
.hero__coment {
  margin-bottom: 20px;
  color: rgba(157, 164, 189, 0.6);
  font-family: "Open Sans";
  font-size: 11px;
  font-weight: 600;
  line-height: 1.5;
  text-transform: uppercase;
}
.hero__coment ::before {
  content: "";
}
.hero__title {
  margin-bottom: 20px;
  color: #FFF;
  font-family: "Raleway";
  font-size: 48px;
  font-weight: 700;
  line-height: 1.5;
  letter-spacing: 2.4px;
}
@media screen and (min-width: 1200px) {
  .hero__title {
    font-size: 72px;
  }
}
.hero__text {
  margin-bottom: 144px;
  color: rgb(157, 164, 189);
  font-family: "Open Sans";
  font-size: 16px;
  font-weight: 400;
  line-height: 1.62;
  letter-spacing: 0.32px;
  width: 357px;
}
@media screen and (min-width: 720px) {
  .hero__text {
    font-size: 18px;
    line-height: 1.66;
  }
}
.hero__list {
  display: flex;
  justify-content: end;
  gap: 24px;
  color: #FFF;
  text-align: right;
  font-family: "Open Sans";
  font-size: 11px;
  font-weight: 600;
  line-height: 1.5;
  letter-spacing: 1.1px;
}/*# sourceMappingURL=main.css.map */