$accent-color:#FF6C00;
$text-color:#FFF;
$line-color:rgba(157, 164, 189, 0.60);
$gradient-color:rgba(25, 28, 38, 0.2);
$hero-text:rgba(157, 164, 189, 1);
$about-color:rgba(48, 48, 48, 1);
$coment-color:rgba(85, 85, 85, 1);
$bg-color:rgba(17, 19, 25, 0.8);
$service-color:#171A24;
$list-color:rgba(23, 26, 36, 0.20);
$item-color:#090B13;
$items-color:rgba(9, 11, 19, 0.20);